exclude: '^tools/(prettify/fprettify|build_utils/fypp)'
fail_fast: false
repos:
- repo: https://github.com/pre-commit/mirrors-yapf
  rev: v0.24.0
  hooks:
  - id: yapf
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.0.0
  hooks:
  - id: flake8
  - id: check-ast
    stages: [manual]
    language_version: "python2"
    exclude: '^src/acc/libsmm_acc/libcusmm/(tune|predict)_'
  - id: check-ast
    stages: [manual]
    language_version: "python3"
- repo: local
  hooks:
  - id: check-header
    name: check file headers
    entry: ./.pre-commit/check_header.py --verbose
    language: script
    types: [text]
    exclude: '^tools/'
