---
name: Testing on Linux
on:
  push:
    branches:
    - 'develop'
  pull_request:

jobs:
  ##################################################################################
  # Run pre-commit
  ##################################################################################
  pre-commit:
    runs-on: ubuntu-latest
    container:
      image: dbcsr/build-env-ubuntu-20.04:latest
    steps:
    - uses: actions/checkout@v2
    - name: Run pre-commit
      run:
        pre-commit run --all-files || ( git status --short ; git diff ; exit 1 )

  ##################################################################################
  # Build and test on linux, no accelerator
  ##################################################################################
  build-and-test:
    runs-on: ubuntu-latest
    container:
      image: dbcsr/build-env-ubuntu-20.04:latest

    strategy:
      matrix:
        use_mpi: [MPI=ON, MPI=OFF]
        use_openmp: [OPENMP=ON, OPENMP=OFF]
        use_smm: [SMM=blas, SMM=libxsmm]
        mpi_suffix: [openmpi, mpich]
        exclude:
          - use_mpi: MPI=OFF
            mpi_suffix: mpich

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 2
        submodules: true

    - name: Configure
      run: |
        mkdir -p build
        cd build
        cmake -G Ninja \
          -DCMAKE_BUILD_TYPE=Coverage \
          -DUSE_${{ matrix.use_mpi }} \
          -DUSE_${{ matrix.use_openmp }} \
          -DUSE_${{ matrix.use_smm }} \
          -DMPI_EXECUTABLE_SUFFIX=.${{ matrix.mpi_suffix }} \
          -DMPIEXEC_PREFLAGS="$([ "${{ matrix.mpi_suffix }}" = "openmpi" ] && echo "-mca btl ^openib --allow-run-as-root")" \
          ..

    - name: Build
      run: cmake --build build -- --verbose

    - name: Test
      run: |
        cd build
        ctest --output-on-failure

    - name: Generate coverage info
      run: |
        cmake --build build -- cov-info

    - name: Upload coverage info to codecov
      if: github.repository == 'cp2k/dbcsr'
      uses: codecov/codecov-action@v1
      with:
        file: build/coverage.info
        flags: unittests,${{ matrix.use_mpi == 'MPI=ON' && 'with-mpi' || 'without-mpi' }},${{ matrix.use_openmp == 'OPENMP=ON' && 'with-openmp' || 'without-openmp' }},${{ matrix.use_smm == 'SMM=blas' && 'with-blas' || 'with-libxsmm' }}
        name: dbcsr-unittests-${{ matrix.use_mpi }}-${{ matrix.use_openmp }}-${{ matrix.use_smm }}-cpu-only
        fail_ci_if_error: true

  ##################################################################################
  # Build on ROCm
  ##################################################################################
  build-on-rocm:
    runs-on: ubuntu-latest
    container:
      image: shoshijak/build-env-rocm:1.0

    strategy:
      matrix:
        use_openmp: [OPENMP=ON, OPENMP=OFF]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Configure
      run: |
        mkdir -p build
        cd build
        cmake -G Ninja \
          -DCMAKE_BUILD_TYPE=Release \
          -DUSE_${{ matrix.use_openmp }} \
          -DUSE_ACCEL=hip \
          -DWITH_GPU=Mi50 \
          -DWITH_EXAMPLES=ON \
          -DCMAKE_PREFIX_PATH=/opt/rocm \
          ..
    - name: Build
      run: cmake --build build -- --verbose

#  vim: set ts=2 sw=2 tw=0 :
